@charset "utf-8";
/* Default */
body{background-color: #F5F5F5;}
.error{position: absolute; margin: -120px auto 0; top: 50%; left: 10px; right: 10px; max-width: 320px; font-size: 14px; line-height: 24px; background-color: #FFF; padding: 20px; box-shadow: 0px 0px 6px #CCC;}
.error h2{font-size: 20px;}