@charset "utf-8";
/* Default */
body,div,span,ul,li,table,tr,td,input,a,p,h1,h2,h3,h4,dl{margin: 0; padding: 0;}
body,.top_body{min-width: 640px;}
body,textarea{color: #333; overflow: hidden;}
header,section,footer,aside{display: block;}
img{border: none; vertical-align: top;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
textarea{border: #999 1px solid; background: #FFF; padding: 5px;}
input:focus, textarea:focus{box-shadow: 0 0 6px rgba(153, 153, 153, 0.7);}

/* INC */
.isIE{position: absolute; z-index: 100; width: 100%; height: 100%; text-align: center; background-color: #3A3C3F; color: #FFF;}
.isIE p{position: absolute; top: 42%; left: 0; right: 0; font-size: 14px; line-height: 36px;}
.isIE b{font-size: 24px;}
.left{float: left;}.right{float: right;}.tleft{text-align: left;}.tright{text-align: right;}.center{text-align: center;}
.red{color: red;}.green{color: green;}.c1{color: #666;}.c2{color: #999;}
.input{float: left; height: 30px; line-height: 30px; border: #999 1px solid; background: #FFF; display: inline-block; padding: 0 5px;}
.inputText{float: left; height: 30px; line-height: 30px; padding: 0 10px 0 5px;}
.Checkbox{float: left; margin-top: 8px;}
.noDisplay{display: none;}

.autocomplete-suggestions{border: #DADCDF 1px solid; background-color: #FFF; text-indent: 10px; font-size: 12px;}
.autocomplete-suggestions div{padding: 6px 0;}
.autocomplete-suggestions div:hover{background-color: #F4F5F9;}

/* WebMIS */
label.error{float: left; line-height: 20px; padding: 5px 0;}
label.error em{float: left; padding-left: 5px;}

/* Lang */
.lang_ct{position: absolute; z-index: 10; cursor: pointer; width: 140px; height: 28px; line-height: 28px; background-color: rgba(0,0,0,0.5); color: #FFF; text-align: center; border-radius: 5px; top: 20px; right: 15px;}
.lang{display: none; position: absolute; width: 140px; background-color: rgba(0,0,0,0.5); border-radius: 5px; padding: 8px 0; border-top: #333 1px solid; border-bottom: #333 1px solid;}
.lang li a{color: #FFF; text-align: left; padding-left: 10px; display: block;}
.lang li a:hover{background-color: #6FB737;}

/* login */
.body_login{min-width: 640px; min-height: 360px; background: url("images/bg.png") #2D2D2D center center; background-size: 0.8%;}
.login_title{position: absolute; width: 100%; font-size: 38px; height: 60px; line-height: 60px; color: #DFE1E8; text-align: center; min-width: 420px; margin-top: -85px;}
.login_body{position: absolute; width: 100%; min-width: 420px; height: 100px; background-color: #3D3D3D; padding-top: 24px; top: 50%; margin-top: -62px;}
.login_ct{max-width: 420px; margin: 0 auto; color: #DFE1E8;}
.login_ct .login{float: left; width: 330px;}
.login_ct .login dt{float: left; width: 90px; line-height: 25px; text-align: right; padding: 4px;}
.login_ct .login dd{line-height: 25px; padding: 4px 0;}
.login_ct .login_input{border: none; width: 210px; height: 25px; line-height: 25px; font-size: 14px; border: #333 1px solid; background-color: #DFE1E8; padding: 0 5px;}
.login_ct .sub{float: left; width: 62px; line-height: 62px; margin-top: 4px; display: inline-block; background-color: #6FB737; color: #FFF; text-align: center; box-shadow: 1px 1px 2px #000; border-radius: 3px;}
.login_ct .sub:hover{background-color: #390;}
.login_copy{position: absolute; width: 100%; height: 50px; line-height: 20px; color: #CCC; text-align: center; padding: 15px 0; border-radius: 5px; min-width: 420px; margin-top: 100px;}
.login_copy a{color: #DFE1E8;}
.login_copy a:hover{color: #FF6600;}
.login_copy .qrcode{display: inline-block; padding-left: 18px;}
.login_copy .qrcode em{position: absolute; z-index: 1; color: #FFF; font-size: 16px; margin: -1px 0 0 -20px;}
.login_copy .qrcode_ct{display: none; position: absolute; z-index: 2; margin: -5px 0 0 -20px;}
.login_copy .qrcode_ct .arrow{border: 5px solid transparent; display: block; height: 0; width: 0;}
.login_copy .qrcode_ct .arrow:after{border: 8px solid transparent; display: block; height: 0; width: 0; border-bottom-color: #fff; content: " "; left: 5px; position: absolute; top: -4px;}
.login_copy .qrcode_ct .ct{width: 100px; height: 100px; background-color: #FFF; padding: 8px; box-shadow: 0 0 2px #333;}

/* Top */
.top_body{position: fixed; width: 100%; height: 50px; background-color: #3D3D3D;}
.top_logo{float: left; width: 200px; height: 50px; background: url("images/logo.png") no-repeat center 9px; background-size: 72%; display: inline-block;}
.top_nav li{float: left; line-height: 50px;}
.top_nav li a{float: left; padding: 0 20px; text-align: center; display: inline-block;}
.top_nav li em{float: left; font-size: 28px;}
.top_nav li span{float: left; padding-left: 10px; font-size: 14px; display: none;}
.nav_an1{color: #DFE1E8; background-color: #6FB737;}
.nav_an1:hover{color: #DFE1E8;}
.nav_an1:hover span{display: block;}
.nav_an1 em{color: #DFE1E8;}
.nav_an2{color: #999;}
.nav_an2:hover{color: #BBB; background-color: #222;}
.nav_an2:hover span{display: block;}

.top_link{position: absolute; z-index: 1; right: 10px; height: 50px; color: #999; padding: 0 10px;}
.top_link span{float: left; line-height: 50px;}
.top_link .uname{font-size: 14px; font-weight: bold; padding-right: 10px;}
.top_link .icon{width: 36px; height: 36px; line-height: 36px; text-align: center; background-color: #222; margin-top: 6px; border-radius: 18px;}
.top_link .icon em:before{content: "\e6a1"; font-size: 24px;}
.top_link:hover{background-color: #222;}
.top_link:hover .icon{background-color: #6FB737;}
.top_link:hover em{color: #FFF;}
.top_link .info{display: none; position: absolute; z-index: 2; right: 0px; top: 50px; background-color: rgba(0,0,0,0.87);}
.top_link .info .ct{padding: 10px; line-height: 24px;}
.top_link .info a{float: left; display: inline-block; min-width: 200px; line-height: 36px; font-size: 14px; color: #6FB737; padding: 0 10px;}
.top_link .info a:hover{color: #FF6600; background-color: #3D3D3D;}
.top_link .info .btop{border-top: #3D3D3D 1px solid;}
.top_link:hover .info{display: block;}

/* Content */
.ct_body{overflow: hidden; height: 100%; padding-top: 50px;}
.ct_left{overflow-y: auto; float: left; width: 200px; height: 100%; background: #F5F5F5; padding: 10px 0; box-shadow: -1px 0px 0px #CCC inset;}
.ct_right{overflow-y: auto; height: 100%; background: #FFF; margin-left: 200px; padding: 10px;}

/* Left */
.left_title{cursor: pointer; width: 90%; padding: 5px 0; font-size: 12px; color: #999; font-weight: bold; border-bottom: #CCC 1px solid; box-shadow: 0 1px 0 #FFF; margin: 0 auto;}
.left_title em{color: #999; font-size: 14px; padding-right: 5px;}
.left_list{padding: 5px 0;}
.left_list li a{font-size: 13px; display: block; overflow: hidden; padding: 3px 10px;}
.left_list li a em{float: left; position: relative; font-size: 18px;}
.left_list li a span{float: left; padding-left: 5px;}

.left_an1{color: #6FB737; background: #FFF; border-top: #CCC 1px solid; border-bottom: #CCC 1px solid;}
.left_an1:hover{color: #6FB737;}
.left_an1 em{color: #6FB737;}
.left_an2{color: #333; border-top: #F5F5F5 1px solid; border-bottom: #F5F5F5 1px solid;}
.left_an2:hover{background: #EEE; color: #6FB737; border-right: #6FB737 1px solid;}
.left_an2 em{color: #666;}
.left_an2:hover em{color: #6FB737;}

/* Action */
.action{line-height: 32px; display: inline-block; overflow: hidden; border: #DADCDF 1px solid; border-radius: 3px; box-shadow: 1px 1px 1px #EEE;
	background:-moz-linear-gradient(top, #FFF,#F5F5F5);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#F5F5F5));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF,endColorstr=#F5F5F5,grandientType=1);
}
.action .title{float: left; display: block; font-weight: bold; border-right: #DADCDF 1px solid; background-color: #FFF; color: #999; padding: 0 10px; box-shadow: 0 1px 0 #DADCDF;}
.action a{float: left; padding: 0 8px; display: inline-block; overflow: hidden; color: #333;}
.action a em{float: left; font-size: 18px; position: relative;}
.action a span{float: left; padding-left: 2px;}
.action a:hover{background-color: #6FB737; color: #FFF;}
.action a:hover em{color: #FFF;}

/* Checkbox */
#checkboxY,#checkboxN{font-family: 'iconfont'; font-style: normal; font-size: 18px; color: #6FB737;}
#checkboxN{display: none;}
#checkboxY:before {content: "\e6a5";}
#checkboxN:before {content: "\e6a4";}

/* Page */
.page{height: 60px; line-height: 60px; text-align: center; color: #999;}
.page a,.page span{padding: 3px 5px; margin: 0 4px;}

/* Table */
.table_list{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid; background: #FFF; margin-top: 5px;}
.table_list td{border-top: #DADCDF 1px solid; border-bottom: #DADCDF 1px solid; line-height: 20px; padding: 6px 5px;}
.table_list .title{color: #999; background: #F8F8F8;}

.table_add{width: 100%; border-collapse: collapse; margin: 5px 0;}
.table_add td{line-height: 20px; padding: 5px;}
.table_add .width{width: 90px;}
.table_add .sub{padding-top: 15px;}
.table_add h2{font-size: 14px; color: #666; padding: 5px 0; border-bottom: #DADCDF 1px solid;}
.table_add h3{font-size: 12px; color: #999;}

.table_show{width: 98%; border-collapse: collapse; margin: 0 auto; font-size: 13px;}
.table_show td{padding: 4px 5px;}
.table_show .tright{color: #999;}
.table_show .sub{padding: 30px;}
.table_show .an{padding: 10px 30px; border: #BBB 1px solid; background-color: #F2F2F2; color: #666; border-radius: 3px; box-shadow: 1px 1px 2px #CCC;}
.table_show .an:hover{border: #6FB737 1px solid; background-color: #6FB737; color: #FFF;}

/* Html */
.html{padding: 20px 10px; line-height: 24px; font-size: 14px;}
.html h2{font-size: 18px; padding: 8px 0; border-bottom: #DADCDF 1px solid;}
.html p{padding: 8px 0;}

/* ICO */
.ico-qrcode:before {content: "\e6ab";}

.ico-home:before {content: "\e69a";}
.ico-system:before {content: "\e67f";}
.ico-web:before {content: "\e692";}
.ico-logs:before {content: "\e699";}
.ico-help:before {content: "\e6a3";}

.ico-disktop:before {content: "\e6a0";}
.ico-user:before {content: "\e6a1";}
.ico-user1:before {content: "\e690";}
.ico-pwd:before {content: "\e698";}

.ico-system1:before {content: "\e67f";}
.ico-system2:before {content: "\e680";}
.ico-menu:before {content: "\e68f";}
.ico-menuA:before {content: "\e693";}
.ico-admin:before {content: "\e6a2";}
.ico-fileM:before {content: "\e69d";}

.ico-logs1:before {content: "\e689";}

.ico-db:before {content: "\e682";}

.ico-list:before {content: "\e689";}
.ico-search:before {content: "\e69b";}
.ico-add:before {content: "\e68b";}
.ico-edit:before {content: "\e684";}
.ico-del:before {content: "\e68a";}
.ico-audit:before {content: "\e693";}
.ico-chart:before {content: "\e68d";}
.ico-exp:before {content: "\e6a8";}
.ico-imp:before {content: "\e6a7";}

/* File */
.ico-back:before {content: "\e675";}

.ico-folder:before {content: "\e69d";}
.ico-file:before {content: "\e69c";}
