@charset "utf-8";
/* 初始化 */
body,div,span,ul,li,table,tr,td,input,a,p,h1,h2,h3,h4,dl{margin: 0; padding: 0;}
body,textarea{color: #333;}
header,section,footer,aside{display: block;}
img{border: none;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
textarea{border: #999 1px solid; background: #FFF;}
input, textarea{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
input:focus, textarea:focus{box-shadow: 0 0 6px rgba(153, 153, 153, 0.7);}

/* INC */
.left{float: left;}.right{float: right;}.tleft{text-align: left;}.tright{text-align: right;}.center{text-align: center;}
.red{color: red;}.green{color: green;}.c1{color: #666;}.c2{color: #999;}
.input{float: left; height: 30px; line-height: 30px; border: #999 1px solid; background: #FFF; display: inline-block; padding: 0 5px;}
.inputText{float: left; height: 30px; line-height: 30px; padding: 0 10px 0 5px;}
.Checkbox{float: left; margin-top: 8px;}

/* WebMIS */
.Validform_checktip{float: left;}

/* Lang */
.lang_ct{position: absolute; z-index: 10; cursor: pointer; width: 140px; height: 28px; line-height: 28px; background-color: rgba(0,0,0,0.5); color: #FFF; text-align: center; border-radius: 5px; top: 10px; right: 10px;}
.lang{display: none; position: absolute; width: 140px; background-color: rgba(0,0,0,0.5); border-radius: 5px; padding: 8px 0; border-top: #333 1px solid; border-bottom: #333 1px solid;}
.lang li a{color: #FFF; text-align: left; padding-left: 10px; display: block;}
.lang li a:hover{background-color: #6FB737;}

/* login */
.body_login{background: url("images/bg.png") #2D2D2D center center;}
.login_title{font-size: 38px; height: 50px; line-height: 50px; color: #DFE1E8; text-align: center; padding: 15px 0; min-width: 460px;}
.login_body{overflow: hidden; border-top: #555 1px solid; border-bottom: #555 1px solid; background-color: #3D3D3D; padding: 24px 0;}
.login_ct{width: 460px; margin: 0 auto; color: #DFE1E8;}
.login_ct .login{float: left; width: 330px;}
.login_ct .login dt{float: left; width: 90px; line-height: 25px; text-align: right; padding: 4px;}
.login_ct .login dd{line-height: 25px; padding: 4px 0;}
.login_ct .login_input{border: none; width: 210px; height: 25px; line-height: 25px; border: #222 1px solid; background-color: #DFE1E8; padding: 0 5px;}
.login_ct .sub{float: left; width: 60px; line-height: 60px; margin-top: 4px; display: inline-block; background-color: #6FB737; color: #FFF; text-align: center; box-shadow: 1px 1px 2px #000; border-radius: 3px;}
.login_ct .sub:hover{background-color: #390;}
.login_copy{height: 50px; line-height: 20px; color: #CCC; text-align: center; padding: 15px 0; border-radius: 5px; min-width: 460px;}
.login_copy a{color: #DFE1E8;}
.login_copy a:hover{color: #FF6600;}

/* Top */
.top_body{position: fixed; width: 100%; height: 50px; background-color: #3D3D3D; overflow: hidden;}
.top_logo{float: left; width: 200px; height: 40px; background: url("images/logo.png") no-repeat center 5px; display: inline-block; margin-top: 5px;}
.top_nav li{float: left; line-height: 50px;}
.top_nav li a{float: left; padding: 0 20px; text-align: center; display: inline-block;}
.top_nav li em{float: left; font-size: 28px;}
.top_nav li span{float: left; padding-left: 10px; font-size: 14px; display: none;}
.nav_an1{color: #DFE1E8; background-color: #6FB737;}
.nav_an1:hover{color: #DFE1E8;}
.nav_an1:hover span{display: block;}
.nav_an1 em{color: #DFE1E8;}
.nav_an2{color: #999;}
.nav_an2:hover{color: #DFE1E8; background-color: #222;}
.nav_an2:hover span{display: block;}

.top_link{position: absolute; z-index: 1; right: 0px; line-height: 50px; color: #999; padding: 0 10px;}
.top_link a{color: #6FB737;}
.top_link a:hover{color: #FF6600;}

/* Content */
.ct_body{overflow: hidden; padding-top: 50px;}
.ct_left{overflow-y: auto; float: left; width: 200px; background: #F5F5F5; padding: 10px 0; box-shadow: -1px 0px 0px #CCC inset;}
.ct_right{overflow-y: auto; background: #FFF; margin-left: 200px; padding: 10px;}

/* Left */
.left_title{cursor: pointer; width: 90%; padding: 5px 0; font-size: 12px; color: #999; font-weight: bold; border-bottom: #CCC 1px solid; box-shadow: 0 1px 0 #FFF; margin: 0 auto;}
.left_title em{color: #999; font-size: 14px; padding-right: 8px;}
.left_list{padding: 5px 0;}
.left_list li a{font-size: 13px; display: block; overflow: hidden; padding: 5px 10px;}
.left_list li a em{float: left; position: relative; font-size: 16px; margin-top: -1px;}
.left_list li a span{float: left; padding-left: 8px;}

.left_an1{color: #6FB737; background: #FFF; border-top: #CCC 1px solid; border-bottom: #CCC 1px solid;}
.left_an1:hover{color: #6FB737;}
.left_an1 em{color: #6FB737;}
.left_an2{color: #333; border-top: #F5F5F5 1px solid; border-bottom: #F5F5F5 1px solid;}
.left_an2:hover{background: #EEE; color: #6FB737; border-right: #6FB737 1px solid;}
.left_an2 em{color: #666;}
.left_an2:hover em{color: #6FB737;}

/* Action */
.action{line-height: 32px; display: inline-block; overflow: hidden; border: #DADCDF 1px solid; border-radius: 3px; box-shadow: 1px 1px 1px #EEE;
	background:-moz-linear-gradient(top, #FFF,#F5F5F5);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#F5F5F5));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF,endColorstr=#F5F5F5,grandientType=1);
}
.action .title{float: left; display: block; font-weight: bold; border-right: #DADCDF 1px solid; background-color: #FFF; color: #999; padding: 0 10px; box-shadow: 0 1px 0 #DADCDF;}
.action a{float: left; padding: 0 8px; display: inline-block; overflow: hidden; color: #333;}
.action a em{float: left; font-size: 14px; position: relative;}
.action a span{float: left; padding-left: 5px;}
.action a:hover{background-color: #6FB737; color: #FFF;}
.action a:hover em{color: #FFF;}

/* Checkbox */
#checkboxY,#checkboxN{font-family: 'icomoon'; font-style: normal; font-weight: normal; font-size: 14px; color: #6FB737; padding: 2px 2px;}
#checkboxN{display: none;}
#checkboxY:before {content: "\e637";}
#checkboxN:before {content: "\e636";}

/* Page */
.page{height: 60px; line-height: 60px; text-align: center; color: #999;}
.page a,.page span{padding: 3px 5px; margin: 0 4px;}

/* Table */
.table_list{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid; background: #FFF; margin-top: 5px;}
.table_list td{border-top: #DADCDF 1px solid; border-bottom: #DADCDF 1px solid; line-height: 20px; padding: 6px 5px;}
.table_list .title{color: #999; background: #F8F8F8;}

.table_add{width: 100%; border-collapse: collapse; margin: 5px 0;}
.table_add td{line-height: 20px; padding: 5px;}
.table_add .width{width: 90px;}
.table_add .sub{padding: 10px 5px;}

/* ICO */
.ico-qrcode:before {content: "\e608";}

.ico-home:before {content: "\e620";}
.ico-system:before {content: "\e621";}
.ico-web:before {content: "\e62f";}
.ico-logs:before {content: "\e606";}
.ico-help:before {content: "\e663";}

.ico-disktop:before {content: "\e612";}
.ico-user:before {content: "\e61a";}
.ico-user1:before {content: "\e61b";}
.ico-pwd:before {content: "\e61d";}

.ico-system1:before {content: "\e658";}
.ico-system2:before {content: "\e622";}
.ico-menu:before {content: "\e62a";}
.ico-menuA:before {content: "\e637";}
.ico-admin:before {content: "\e61a";}
.ico-fileM:before {content: "\e677";}

.ico-logs1:before {content: "\e605";}

.ico-db:before {content: "\e62b";}

.ico-list:before {content: "\e637";}
.ico-search:before {content: "\e65e";}
.ico-add:before {content: "\e670";}
.ico-edit:before {content: "\e600";}
.ico-del:before {content: "\e636";}
.ico-audit:before {content: "\e61f";}
.ico-chart:before {content: "\e623";}
.ico-exp:before {content: "\e62c";}
.ico-imp:before {content: "\e62d";}

/* File */
.ico-back:before {content: "\e65d";}
.ico-addfolder:before {content: "\e65b";}
.ico-addfile:before {content: "\e67d";}
.ico-refresh:before {content: "\e664";}
.ico-upload:before {content: "\e62d";}
.ico-down:before {content: "\e62c";}
.ico-fdel:before {content: "\e636";}

.ico-folder:before {content: "\e65b";}
.ico-file:before {content: "\e67d";}
.ico-ico:before {content: "\e63e";}
.ico-html:before {content: "\e649";}
.ico-php:before {content: "\e649";}
.ico-css:before {content: "\e64a";}
.ico-img:before {content: "\e603";}
.ico-pdf:before {content: "\e643";}
.ico-zip:before {content: "\e647";}
.ico-txt:before {content: "\e642";}
.ico-doc:before {content: "\e645";}
.ico-xls:before {content: "\e646";}
.ico-odt:before {content: "\e644";}

