@charset "utf-8";
/* Default */
body,div,span,ul,li,table,tr,td,input,a,p,h1,h2,h3,h4,dl{margin: 0; padding: 0;}
body,textarea{color: #333;}
header,section,footer,aside{display: block;}
img{border: none; vertical-align: top;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
textarea{border: #999 1px solid; background: #FFF;}
input:focus, textarea:focus{box-shadow: 0 0 6px rgba(153, 153, 153, 0.7);}

/* INC */
.left{float: left;}.right{float: right;}.tleft{text-align: left;}.tright{text-align: right;}.center{text-align: center;}
.red{color: red;}.green{color: green;}.c1{color: #666;}.c2{color: #999;}
.input{float: left; height: 30px; line-height: 30px; border: #999 1px solid; background: #FFF; display: inline-block; padding: 0 5px;}
.inputText{float: left; height: 30px; line-height: 30px; padding: 0 10px 0 5px;}
.Checkbox{float: left; margin-top: 8px;}
.noDisplay{display: none;}

.autocomplete-suggestions{border: #DADCDF 1px solid; background-color: #FFF; text-indent: 10px; font-size: 12px;}
.autocomplete-suggestions div{padding: 6px 0;}
.autocomplete-suggestions div:hover{background-color: #F4F5F9;}

/* WebMIS */
label.error{float: left; line-height: 20px; padding: 5px 0;}
label.error em{float: left; padding-left: 5px;}

/* Lang */
.lang_ct{position: absolute; z-index: 10; cursor: pointer; width: 100%; height: 36px; line-height: 36px; top: 0px; background-color: rgba(0,0,0,0.7); color: #FFF; font-size: 14px; text-align: center; box-shadow: 1px 1px 3px #333;}
.lang{display: none; position: absolute; width: 100%; background-color: rgba(0,0,0,0.7); padding: 8px 0; border-top: #333 1px solid; border-bottom: #333 1px solid;}
.lang li a{color: #FFF; text-align: left; padding-left: 10px; display: block;}
.lang li a:hover{background-color: #6FB737;}

/* login */
.body_login{background: url("images/bg.png") #2D2D2D center center; background-size: 3%; min-width: 320px;}
.login_title{position: absolute; width: 100%; font-size: 38px; height: 60px; line-height: 60px; color: #DFE1E8; text-align: center; min-width: 320px; margin-top: -85px;}
.login_body{position: absolute; width: 100%; min-width: 320px; height: 180px; background-color: #3D3D3D; padding-top: 24px; top: 50%; margin-top: -102px;}
.login_ct{max-width: 320px; margin: 0 auto; color: #DFE1E8;}
.login_ct li{padding: 6px 15px;}
.login_ct li input{text-indent: 32px; width: 99%; height: 30px; line-height: 30px; border: #222 1px solid; font-size: 14px; background-color: #DFE1E8;}
.login_ct li label em{position: absolute; z-index: 1; font-size: 20px; color: #999; margin: 6px 0 0 8px;}
.login_ct .sub{padding-top: 15px; font-size: 1.2em;}
.login_ct .sub a{width: 100%; line-height: 42px; display: inline-block; background-color: #6FB737; color: #FFF; text-align: center; box-shadow: 1px 1px 2px #000; border-radius: 3px;}
.login_ct .sub a:hover{background-color: #390;}
.login_copy{position: absolute; width: 100%; height: 50px; line-height: 20px; color: #CCC; text-align: center; padding: 15px 0; border-radius: 5px; min-width: 320px; margin-top: 30px;}
.login_copy a{color: #DFE1E8;}
.login_copy a:hover{color: #FF6600;}

/* Top */
.top_user{position: fixed; top: 100%; width: 100%; height: 36px; margin-top: -36px; background-color: rgba(0,0,0,0.8);}

.top_link{position: absolute; z-index: 1; right: 5px; height: 36px; color: #999; padding: 0 10px;}
.top_link span{float: left; line-height: 36px;}
.top_link .uname{font-size: 14px; font-weight: bold; padding-right: 10px;}
.top_link .icon{width: 32px; height: 32px; line-height: 32px; text-align: center; background-color: #222; margin-top: 2px; border-radius: 16px;}
.top_link .icon em:before{content: "\e6a1"; font-size: 21px;}
.top_link:hover{background-color: #222;}
.top_link:hover .icon{background-color: #6FB737;}
.top_link:hover em{color: #FFF;}
.top_link .info{display: none; position: absolute; z-index: 2; right: 0px; bottom: 36px; background-color: rgba(0,0,0,0.87);}
.top_link .info .ct{padding: 10px; line-height: 24px;}
.top_link .info a{float: left; display: inline-block; min-width: 200px; line-height: 36px; font-size: 14px; color: #6FB737; padding: 0 10px;}
.top_link .info a:hover{color: #FF6600; background-color: #3D3D3D;}
.top_link .info .btop{border-top: #3D3D3D 1px solid;}
.top_link:hover .info{display: block;}

.nav_ct{width: 100%; position: fixed; z-index: 9; height: 42px; background: #3D3D3D; overflow: hidden; backface-visibility: hidden; box-shadow: 1px 1px 3px #666;}
.nav{position: relative; top: 0px; width: 1600px; height: 42px; line-height: 42px; font-size: 14px;}
.nav li{float: left; width: 64px; color: #FFF; text-align: center;}
.nav li a{text-align: center; display: block; overflow: hidden;}
.nav li em{font-size: 24px;}
.nav .an1{color: #DFE1E8; background-color: #6FB737;}
.nav .an1 em{color: #FFF;}
.nav .an1 span{display: block;}
.nav .an2{color: #CCC;}

.left_menu{position: fixed; top: 100%; margin-top: -36px; width: 42px; height: 36px; line-height: 36px; text-align: center; box-shadow: 1px 1px 3px #999;
	background:-moz-linear-gradient(top, #FFF,#E2E4E6);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E2E4E6));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF,endColorstr=#E2E4E6,grandientType=1);
}
.left_menu em{color: #6FB737; font-size: 1.8em; text-shadow: 1px 1px 0px #FFF;}

.menu_ct{display: none; position: fixed; z-index: 10; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); overflow-y: auto; padding: 1em 0;}
.menu_ct .title a{color: #38B000; font-weight: bold; padding: 0 10px;}
.menu_ct .title a em{color: #38B000; padding-right: 5px;}
.menu_ct .list{font-size: 1.2em;}
.menu_ct .list li{padding: 2px;}
.menu_ct .list li a{color: #FFF; line-height: 2.2em; padding-left: 30px; display: block;}
.menu_ct .list li a em{color: #FFF; padding-right: 5px;}

.left_an1{background: #6FB737; color: #FFF; box-shadow: 0 0 2px #666;}
.left_an1 em{color: #FFF;}
.left_an2{color: #333;}
.left_an2 em{color: #666;}

/* Content */
.ct_body{padding: 52px 0.2em 0.2em; background-color: #FFF; overflow: hidden;}
.copy{line-height: 42px; color: #999; text-align: center; border-top: #CCC 1px solid;}

/* Action */
.action{line-height: 32px; display: block; overflow: hidden; border: #DADCDF 1px solid; border-radius: 3px; box-shadow: 1px 1px 1px #EEE;
	background:-moz-linear-gradient(top, #FFF,#F5F5F5);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#F5F5F5));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF,endColorstr=#F5F5F5,grandientType=1);
}
.action .title{display: block; font-weight: bold; background-color: #FFF; color: #999; padding: 0 10px; box-shadow: 0 1px 0 #DADCDF;}
.action a{float: left; padding: 0 8px; display: inline-block; overflow: hidden; color: #333;}
.action a em{float: left; font-size: 18px; position: relative;}
.action a span{float: left; padding-left: 2px;}
.action a:hover{background-color: #6FB737; color: #FFF;}
.action a:hover em{color: #FFF;}

/* Checkbox */
#checkboxY,#checkboxN{font-family: 'iconfont'; font-style: normal; font-weight: normal; font-size: 18px; color: #6FB737;}
#checkboxN{display: none;}
#checkboxY:before {content: "\e6a5";}
#checkboxN:before {content: "\e6a4";}

/* Page */
.page{height: 60px; line-height: 60px; text-align: center; color: #999;}
.page a,.page span{padding: 3px 5px; margin: 0 4px;}

/* Table */
.table_list{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid; background: #FFF; margin-top: 5px;}
.table_list td{border-top: #DADCDF 1px solid; border-bottom: #DADCDF 1px solid; line-height: 20px; padding: 6px 5px;}
.table_list .title{color: #999; background: #F8F8F8;}

.table_add{width: 100%; border-collapse: collapse; margin: 5px 0;}
.table_add td{line-height: 20px; padding: 5px;}
.table_add .width{width: 90px;}
.table_add .sub{padding-top: 15px;}
.table_add h2{font-size: 14px; color: #666; padding: 5px 0; border-bottom: #DADCDF 1px solid;}
.table_add h3{font-size: 12px; color: #999;}

.table_show{width: 98%; border-collapse: collapse; margin: 0 auto; font-size: 13px;}
.table_show td{padding: 8px 5px;}

/* ICO */
.ico-menus:before {content: "\e6a0";}
.ico-qrcode:before {content: "\e696";}

.ico-home:before {content: "\e69a";}
.ico-system:before {content: "\e67f";}
.ico-web:before {content: "\e692";}
.ico-logs:before {content: "\e699";}
.ico-help:before {content: "\e6a3";}

.ico-disktop:before {content: "\e6a0";}
.ico-user:before {content: "\e6a1";}
.ico-user1:before {content: "\e690";}
.ico-pwd:before {content: "\e698";}

.ico-system1:before {content: "\e67f";}
.ico-system2:before {content: "\e680";}
.ico-menu:before {content: "\e68f";}
.ico-menuA:before {content: "\e693";}
.ico-admin:before {content: "\e6a2";}
.ico-fileM:before {content: "\e69d";}

.ico-logs1:before {content: "\e689";}

.ico-db:before {content: "\e682";}

.ico-list:before {content: "\e689";}
.ico-search:before {content: "\e69b";}
.ico-add:before {content: "\e68b";}
.ico-edit:before {content: "\e684";}
.ico-del:before {content: "\e68a";}
.ico-audit:before {content: "\e693";}
.ico-chart:before {content: "\e68d";}
.ico-exp:before {content: "\e6a8";}
.ico-imp:before {content: "\e6a7";}

/* File */
.ico-back:before {content: "\e675";}

.ico-folder:before {content: "\e69d";}
.ico-file:before {content: "\e69c";}