@charset "utf-8";
/* Default */
body,div,span,ul,li,table,tr,td,input,a,p,h1,h2,h3,h4,dl{margin: 0; padding: 0;}
body,textarea{color: #333;}
header,section,footer,aside{display: block;}
img{border: none;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
textarea{border: #999 1px solid; background: #FFF;}
input, textarea{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
input:focus, textarea:focus{box-shadow: 0 0 6px rgba(153, 153, 153, 0.7);}

/* INC */
.left{float: left;}.right{float: right;}.tleft{text-align: left;}.tright{text-align: right;}.center{text-align: center;}
.red{color: red;}.green{color: green;}.c1{color: #666;}.c2{color: #999;}
.input{float: left; height: 30px; line-height: 30px; border: #999 1px solid; background: #FFF; display: inline-block; padding: 0 5px;}
.inputText{float: left; height: 30px; line-height: 30px; padding: 0 10px 0 5px;}
.Checkbox{float: left; margin-top: 8px;}
.noDisplay{display: none;}

/* WebMIS */
.Validform_checktip{float: left;}

/* Lang */
.lang_ct{position: absolute; z-index: 10; cursor: pointer; width: 100%; height: 36px; line-height: 36px; top: 0px; background-color: rgba(0,0,0,0.7); color: #FFF; font-size: 14px; text-align: center; box-shadow: 1px 1px 3px #333;}
.lang{display: none; position: absolute; width: 100%; background-color: rgba(0,0,0,0.7); padding: 8px 0; border-top: #333 1px solid; border-bottom: #333 1px solid;}
.lang li a{color: #FFF; text-align: left; padding-left: 10px; display: block;}
.lang li a:hover{background-color: #6FB737;}

/* login */
.body_login{background: url("images/bg.png") #2D2D2D center center;}
.login_title{font-size: 38px; height: 50px; line-height: 50px; color: #DFE1E8; text-align: center; padding: 15px 0;}
.login_body{overflow: hidden; border-top: #555 1px solid; border-bottom: #555 1px solid; background-color: #3D3D3D; padding: 24px 0;}
.login_ct{max-width: 360px; margin: 0 auto; color: #DFE1E8;}
.login_ct .login{width: 100%;}
.login_ct .login .title{float: left; width: 80px; line-height: 25px; text-align: right; padding: 6px 0;}
.login_ct .login .input_ct{line-height: 30px; padding: 6px 0 6px 80px;}
.login_ct .login_input{border: none; width: 90%; height: 30px; line-height: 30px; padding: 0 5px; border: #222 1px solid; font-size: 1.5em; background-color: #DFE1E8;}
.login_ct .sub{text-align: center; padding-top: 15px;}
.login_ct .sub a{width: 92%; line-height: 42px; display: inline-block; background-color: #6FB737; color: #FFF; text-align: center; box-shadow: 1px 1px 2px #000; border-radius: 3px;}
.login_ct .sub a:hover{background-color: #390;}
.login_copy{height: 50px; line-height: 20px; color: #CCC; text-align: center; padding: 15px 0; border-radius: 5px;}
.login_copy a{color: #DFE1E8;}
.login_copy a:hover{color: #FF6600;}